<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tasks nav-tab nav-justify flex-menu navbar-fixed-bottom" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Propriétaire</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Employée</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Manager</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="col-xs-12">
        <h3> <strong>Propriétaires</strong> </h3>
        <div class="line"></div>
      </div>

      <% @owners.each do |profile| %>
        <%= link_to profile_path(profile) do %>
          <div class="flex-box-index">
            <div class="task-message">
              <div class="task">
                <div class="content">
                  <p><%= profile.first_name %> <%=profile.sur_name %></p>
                </div>
              </div>

              <div class="task">
                <div class="message-body">
                  <p><%= profile.phone %></p>
                </div>
              </div>

              <div class="flex-box-index-item2">
                <div>
                  <% profile.horses.each do |horse| %>
                    <% if horse.photo.url.nil? %>
                      <% url = 'http://res.cloudinary.com/dk6vsgttl/image/upload/v1534863841/s0caeecaab59c4a6bd6d9a36666c361d3.jpg' %>
                    <% else %>
                      <% url = cl_image_path horse.photo, width: 40, height: 40, crop: :fill %>
                    <% end %>
                      <%= image_tag url, class:"avatar-large" %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      <% end if @owners.any? %>

    </div>


    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="col-xs-12">
        <h3> <strong>Employés</strong> </h3>
        <div class="line"></div>
      </div>

      <% @employees.each do |profile| %>
          <%= link_to profile_path(profile) do %>
            <div class="flex-box-index">
              <div class="task-message">
                <div class="task">
                  <div class="content">
                    <p><%= profile.first_name %> <%=profile.sur_name %></p>
                  </div>
                </div>

                <div class="task">
                  <div class="message-body">
                    <p><%= profile.phone %></p>
                  </div>
                </div>

                <div class="flex-box-index-item2">
                  <div>
                    <% profile.horses.each do |horse| %>
                      <% if horse.photo.url.nil? %>
                        <% url = 'http://res.cloudinary.com/dk6vsgttl/image/upload/v1534863841/s0caeecaab59c4a6bd6d9a36666c361d3.jpg' %>
                      <% else %>
                        <% url = cl_image_path horse.photo, width: 40, height: 40, crop: :fill %>
                      <% end %>
                        <%= image_tag url, class:"avatar-large" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      <% end if @owners.any? %>
    </div>


    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="col-xs-12">
        <h3> <strong>Manager</strong> </h3>
        <div class="line"></div>
      </div>
      <% @managers.each do |profile| %>
        <%= link_to profile_path(profile) do %>
          <div class="flex-box-index">
            <div class="task-message">
              <div class="task">
                <div class="content">
                  <p><%= profile.first_name %> <%=profile.sur_name %></p>
                </div>
              </div>

              <div class="task">
                <div class="message-body">
                  <p><%= profile.phone %></p>
                </div>
              </div>

              <div class="flex-box-index-item2">
                <div>
                  <% profile.horses.each do |horse| %>
                    <% if horse.photo.url.nil? %>
                      <% url = 'http://res.cloudinary.com/dk6vsgttl/image/upload/v1534863841/s0caeecaab59c4a6bd6d9a36666c361d3.jpg' %>
                    <% else %>
                      <% url = cl_image_path horse.photo, width: 40, height: 40, crop: :fill %>
                    <% end %>
                      <%= image_tag url, class:"avatar-large" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end if @owners.any? %>
    </div>


  </div>
</div>

