<div>
<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tab nav-justify flex-menu" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Propriétaire</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Employée</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Manager</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">


    <div role="tabpanel" class="tab-pane active" id="home">
      <h3>PROPRIÉTAIRES</h3>
      <% @owners.each do |profile| %>
          <%= link_to profile_path(profile) do %>
            <div class="flex-box-index">

              <div class="flex-box-index-item1">
                <div class="name-index">
                  <h3><strong><%= profile.first_name %></strong></h3>
                  <h3><strong><%= profile.sur_name %></strong></h3>
                </div>
              </div>

              <div class="flex-box-index-item2">
                <div class="message-body">
                  <p><%= profile.phone %></p>
                </div>
              </div>

              <div class="flex-box-index-item2">
                <div>
                  <% profile.horses.each do |horse| %>
                    <% if horse.photo.url.nil? %>
                      <% url = 'http://res.cloudinary.com/dk6vsgttl/image/upload/v1534863841/s0caeecaab59c4a6bd6d9a36666c361d3.jpg' %>
                    <% else %>
                      <% url = cl_image_path horse.photo, width: 40, height: 40, crop: :fill %>
                    <% end %>
                      <%= image_tag url, class:"horse-avatar" %>
                  <% end %>
                </div>
              </div>

              </div>
          <% end %>
      <% end if @owners.any? %>


    </div>


    <div role="tabpanel" class="tab-pane" id="profile">
      <h3>EMPLOYÉS</h3>
      <% @employees.each do |profile| %>
          <%= link_to profile_path(profile) do %>
            <div class="flex-box-index">

              <div class="flex-box-index-item1">
                <div class="name-index">
                  <h3><strong><%= profile.first_name %></strong></h3>
                  <h3><strong><%= profile.sur_name %></strong></h3>
                </div>
              </div>

              <div class="flex-box-index-item2">
                <div class="message-body">
                  <p><%= profile.phone %></p>
                </div>
              </div>

              <div class="flex-box-index-item2">
                <div>
                  <% profile.horses.each do |horse| %>
                    <% if horse.photo.url.nil? %>
                      <% url = 'http://res.cloudinary.com/dk6vsgttl/image/upload/v1534863841/s0caeecaab59c4a6bd6d9a36666c361d3.jpg' %>
                    <% else %>
                      <% url = cl_image_path horse.photo, width: 40, height: 40, crop: :fill %>
                    <% end %>
                      <%= image_tag url, class:"horse-avatar" %>
                  <% end %>
                </div>
              </div>

              </div>
          <% end %>
      <% end if @owners.any? %>
    </div>


    <div role="tabpanel" class="tab-pane" id="messages">
      <h3>MANAGER</h3>
      <% @managers.each do |profile| %>
          <%= link_to profile_path(profile) do %>
            <div class="flex-box-index">

              <div class="flex-box-index-item1">
                <div class="name-index">
                  <h3><strong><%= profile.first_name %></strong></h3>
                  <h3><strong><%= profile.sur_name %></strong></h3>
                </div>
              </div>

              <div class="flex-box-index-item2">
                <div class="message-body">
                  <p><%= profile.phone %></p>
                </div>
              </div>

              <div class="flex-box-index-item2">
                <div>
                  <% profile.horses.each do |horse| %>
                    <% if horse.photo.url.nil? %>
                      <% url = 'http://res.cloudinary.com/dk6vsgttl/image/upload/v1534863841/s0caeecaab59c4a6bd6d9a36666c361d3.jpg' %>
                    <% else %>
                      <% url = cl_image_path horse.photo, width: 40, height: 40, crop: :fill %>
                    <% end %>
                      <%= image_tag url, class:"horse-avatar" %>
                  <% end %>
                </div>
              </div>

              </div>
          <% end %>
      <% end if @owners.any? %>
    </div>

    </div>
  </div>

</div>
