<div class="col-xs-12">
  <h3> <strong>🥣 Nourriture </strong> </h3>
  <div class="line"></div>
</div>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#matin" aria-controls="matin" role="tab" data-toggle="tab">Matin

       <span class="badge brand-success"><%= @horses.map {|horse| horse.morning_tasks_count}.delete_if {|number| number == 0}.count  %></span>

      </a></li>
    <li role="presentation"><a href="#midi" aria-controls="midi" role="tab" data-toggle="tab">Midi
       <span class="badge brand-success"><%= @horses.map {|horse| horse.midday_tasks_count}.delete_if {|number| number == 0}.count  %></span>
      </a></li>
    <li role="presentation"><a href="#soir" aria-controls="soir" role="tab" data-toggle="tab">Soir
       <span class="badge brand-success"><%= @horses.map {|horse| horse.evening_tasks_count}.delete_if {|number| number == 0}.count  %></span>
      </a></li>
    </a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="matin">
      <% @horses.each do |horse| %>
        <% if horse.has_food_tasks_not_done? %>
          <div class="col-xs-12">

            <%= render "task_todo_food_morning", horse: horse %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="midi">
      <% @horses.each do |horse| %>
        <% if horse.has_food_tasks_not_done? %>
          <div class="col-xs-12">
            <%= render "task_todo_food_midday", horse: horse %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="soir">
      <% @horses.each do |horse| %>
        <% if horse.has_food_tasks_not_done? %>
          <div class="col-xs-12">
            <div class="task-message" data-aos="fade-up">
              <% if horse.photo? %>
                <div class="horse-avatar" style="background-image: url('<%= cl_image_path horse.photo, width: 300, crop: :fill %>')">
                </div>
              <%else %>
                <div class="horse-avatar" style="background-image: url('<%= image_path("default-horse.jpg")  %>')">
                </div>
              <% end %>
              <div class="task-message-body">
              <p><strong><%= horse.name %> - Box n°<%= horse.box %></strong></p>
              <p>
                <%= render "task_list", horse: horse, tasks: horse.evening_tasks.not_done, time: "evening" %>
              </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
