<div class="col-xs-12">
  <h3> <strong>🥣 Nourriture </strong> </h3>
  <div class="line"></div>
</div>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#matin" aria-controls="matin" role="tab" data-toggle="tab">Matin

       <span class="badge brand-success"><%= @horses.map {|horse| horse.morning_tasks_count}.delete_if {|number| number == 0}.count  %></span>

      </a></li>
    <li role="presentation"><a href="#midi" aria-controls="midi" role="tab" data-toggle="tab">Midi
       <span class="badge brand-success"><%= @horses.map {|horse| horse.midday_tasks_count}.delete_if {|number| number == 0}.count  %></span>
      </a></li>
    <li role="presentation"><a href="#soir" aria-controls="soir" role="tab" data-toggle="tab">Soir
       <span class="badge brand-success"><%= @horses.map {|horse| horse.evening_tasks_count}.delete_if {|number| number == 0}.count  %></span>
      </a></li>
    </a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="matin">
      <% @horses.each do |horse| %>
        <% if horse.has_food_tasks_not_done? %>
          <div class="col-xs-12">
            <%= render "tasks/food/list", horse: horse, tasks: horse.morning_tasks.not_done, time: "morning", effect: 'fade' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="midi">
      <% @horses.each do |horse| %>
        <% if horse.has_food_tasks_not_done? %>
          <div class="col-xs-12">
            <%= render "tasks/food/list", horse: horse, tasks: horse.midday_tasks.not_done, time: "midday", effect: 'fade' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="soir">
      <% @horses.each do |horse| %>
        <% if horse.has_food_tasks_not_done? %>
          <div class="col-xs-12">
            <%= render "tasks/food/list", horse: horse, tasks: horse.evening_tasks.not_done, time: "evening", effect: 'fade' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
