<div class="task-message" data-task-id="<%= task.id %>" data-aos="flip-up">
  <img class="horse-avatar" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="task-message-body">
    <p><strong><%= task.horse.name %></strong></p>
      <p>
        <%= task.activity&.name %>
      </p>
      <% image_link = task.user_doing&.picture || "https://www.viawater.nl/files/default-user.png" %>
  </div>
  <%= link_to mark_as_done_path(task_id: task.id), remote: true do %>
    <%= image_tag image_link, class: "avatar-large" %>
  <% end %>
<!--   <%= link_to "Finir", mark_as_done_path(task_id: task.id), remote: true, class: "btn btn-default" %> -->
</div>
