<% if tasks.any? %>
  <div class="task-message-body">
    <p>
      <strong><%= horse.name %> - Box n°<%= horse.box %></strong>
    </p>
      <% tasks.each do |task| %>
        <p>
          <%= task.food_type&.name %>
          <% if task.food_quantity %>
            |<strong><%= task.food_quantity%> L</strong>
          <% end %>
        </p>

      <% end %>

  </div>
  <!-- TODO tasks -->
  <% if tasks.where(doing: false, done: false).any? %>
    <%= link_to mark_as_doing_food_horse_tasks_path(horse, time: time), method: :patch, remote: true do%>
      <%= image_tag "user-default", class: "avatar-large"%>

    <% end %>
  <!-- ON GOING tasks -->
  <% elsif tasks.where(doing: true, done: false).any? %>

    <%= link_to mark_as_done_food_horse_tasks_path(horse, time: time), method: :patch do%>
      <% image_link = tasks.first.user_doing&.picture || "https://www.viawater.nl/files/default-user.png" %>
      <%= image_tag image_link, class: "avatar-large" %>
    <% end %>
  <% end %>
<% end %>
