<div class="task-message" data-task-id="<%= task.id %>" data-aos="flip-up">
  <% if task.horse.photo? %>
    <div class="horse-avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path task.horse.photo, width: 300, crop: :fill %>')">
    </div>
  <%else %>
    <div class="horse-avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path("default-horse.jpg")  %>')">
    </div>
  <% end %>
  <div class="task-message-body">
    <p><strong><%= task.horse.name %></strong></p>
      <p class="text-primary">
        <%= task.activity&.name %>
      </p>
      <% image_link = task.user_doing&.picture || "https://www.viawater.nl/files/default-user.png" %>
  </div>
  <%= link_to mark_as_done_path(task_id: task.id), remote: true do %>
    <%= image_tag image_link, class: "avatar-large" %>
  <% end %>
<!--   <%#= link_to "Finir", mark_as_done_path(task_id: task.id), remote: true, class: "btn btn-default" %> -->
</div>
