<div class="container" >

  <h3> <strong>Tâches du jour </strong> </h3>

    <ul class="nav nav-tasks flex-menu navbar-fixed-bottom" role="tablist">
      <li role="presentation">
        <a href="#nourriture" aria-controls="nourriture" role="tab" data-toggle="tab">
          <i class="active fas fa-utensils"></i>
          <% if @tasks_food_type %>
            <span class="badge brand-success"><%= @tasks_food_type.count %></span>
          <% end %>
        </a>
      </li>
      <li role="presentation">
        <a href="#activites" aria-controls="activites" role="tab" data-toggle="tab">
          <i class="fas fa-shoe-prints"></i>
          <% if @tasks_activity %>
            <span class="badge"><%= @tasks_activity.count %></span>
          <% end %>
        </a>
      </li>
      <li role="presentation">
        <a href="#medicaments" aria-controls="medicaments" role="tab" data-toggle="tab">
          <i class="fas fa-capsules"></i>
          <% if @tasks_medecine %>
            <span class="badge"><%= @tasks_medecine.count %></span>
          <% end %>
        </a>
      </li>
    </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="nourriture">
      <% @tasks.each do |task| %>
        <% if task.done == false %>
          <%= link_to mark_as_done_path(task_id: task.id) do %>
            <% if task.food_type %>
              <div class="col-xs-12">
                <div class="task-message">
                  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
                  <div class="task-message-body">
                    <p><strong><%= task.horse.name %></strong></p>
                    <p>
                      <%= task.food_type.name %>
                      <% if task.food_quantity %>
                        |<strong><%= task.food_quantity%> Litres</strong>
                      <% end %>
                    </p>
                  </div>
                  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
                </div>
              </div>
            <% end %>
          <% end %>
          <% end %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="activites">
      <% @tasks.each do |task| %>
        <% if task.activity %>
          <div class="col-xs-12">
            <div class="task-message">
              <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
              <div class="task-message-body">
                <p><strong><%= task.horse.name %></strong></p>
                <p>
                  <%= task.activity.name %>
                </p>
              </div>
              <img class="avatar-large-empty">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="medicaments">
      <% @tasks.each do |task| %>
        <% if task.medecine %>
          <div class="col-xs-12">
            <div class="task-message">
              <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
              <div class="task-message-body">
                <p><strong><%= task.horse.name %></strong></p>
                <p>
                  <%= task.medecine.name %>
                </p>
              </div>
              <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

</div>
