<div class="container" >

  <ul class="nav nav-tasks flex-menu navbar-fixed-bottom" role="tablist">
      <li role="presentation">
        <a href="#nourriture" aria-controls="nourriture" role="tab" data-toggle="tab">
          <i class="active fas fa-utensils"></i>
          <% if @tasks_food_type %>
            <span class="badge"><%= morning_food_number + midday_food_number + evening_food_number %></span>
          <% end %>
        </a>
      </li>
      <li role="presentation">
        <a href="#activites" aria-controls="activites" role="tab" data-toggle="tab">
          <i class="fas fa-shoe-prints"></i>
          <% if @tasks_activity %>
            <span class="badge"><%= @tasks_activity.count %></span>
          <% end %>
        </a>
      </li>
      <li role="presentation">
        <a href="#medicaments" aria-controls="medicaments" role="tab" data-toggle="tab">
          <i class="fas fa-capsules"></i>
          <% if @tasks_medecine %>
            <span class="badge"><%= @tasks_medecine.count %></span>
          <% end %>
        </a>
      </li>
  </ul>


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="nourriture">
      <%= render "tabpanel_food" %>
    </div>

    <div role="tabpanel" class="tab-pane" id="activites">
      <%= render "tabpanel_activities" %>
    </div>


    <div role="tabpanel" class="tab-pane" id="medicaments">
      <%= render "tabpanel_medecine" %>
    </div>
  </div>
</div>
<div class="espace-footer"></div>
