<div class="container" >

  <!-- Navigation des taches -->
  <ul class="nav nav-tasks flex-menu navbar-fixed-bottom" role="tablist">
      <li role="presentation">
        <a href="#nourriture" aria-controls="nourriture" role="tab" data-toggle="tab">
          <i class="fas fa-utensils"></i>
            <span class="badge"><%= @horses.map {|horse| horse.morning_tasks_count}.delete_if {|number| number == 0}.count+@horses.map {|horse| horse.midday_tasks_count}.delete_if {|number| number == 0}.count+@horses.map {|horse| horse.evening_tasks_count}.delete_if {|number| number == 0}.count %></span>
        </a>
      </li>
      <li role="presentation">
        <a href="#activites" aria-controls="activites" role="tab" data-toggle="tab">
          <i class="fas fa-shoe-prints"></i>
          <% if @tasks_activity %>
            <span class="badge"><%= @tasks_activity.count %></span>
          <% end %>
        </a>
      </li>
      <li role="presentation">
        <a href="#medicaments" aria-controls="medicaments" role="tab" data-toggle="tab">
          <i class="fas fa-capsules"></i>
          <% if @tasks_medecine %>
            <span class="badge"><%= @tasks_medecine.count %></span>
          <% end %>
        </a>
      </li>
  </ul>

  <!-- Taches -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="nourriture">
      <%= render "tabpanel_food" %>
    </div>

    <div role="tabpanel" class="tab-pane" id="activites">
      <%= render "tabpanel_activities" %>
    </div>

    <div role="tabpanel" class="tab-pane" id="medicaments">
      <%= render "tabpanel_medecine" %>
    </div>
  </div>
</div>
<div class="espace-footer"></div>
