<div class="container" >

  <h3> <strong>  Les tâches du jour </strong> </h3>
  <ul class="nav nav-pills flex-menu" role="tablist">
    <li role="presentation" ><a href="#nourriture" aria-controls="nourriture" role="tab" data-toggle="tab"><i class="active fas fa-utensils"></i></a></li>
    <li role="presentation" ><a href="#activites" aria-controls="activites" role="tab" data-toggle="tab"><i class="fas fa-shoe-prints"></i></a></li>
    <li role="presentation"><a href="#medicaments" aria-controls="medicaments" role="tab" data-toggle="tab"><i class="fas fa-capsules"></i></a></li>
  </ul>

  <div class="tab-content">


  <div role="tabpanel" class="tab-pane active" id="nourriture">
    <% @tasks.each do |task| %>
      <% if task.done == false %>


        <% if task.doing == false %>
          <% if !task.food_type.nil? %>
            <%= link_to mark_as_doing_path(task_id: task.id) do %>
              <div class="col-xs-12 col-md-6">
                <div class="task">
                  <p><strong><%= task.horse.name %></strong></p>
                  <p>
                    <%= task.food_type&.name %>
                    <% if task.food_quantity %>
                      |<strong><%= task.food_quantity%> L</strong>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>


        <% if task.doing == true %>
          <% if !task.food_type.nil? %>
            <div class="col-xs-12 col-md-6">
              <div class="task">
                <% image_link = task.user_doing&.picture || "https://res.cloudinary.com/dk6vsgttl/image/upload/v1535978381/pomme.png" %>
                <%= image_tag image_link, class: "avatar" %>
                <p><strong><%= task.horse.name %></strong></p>
                  <p>
                    <%= task.food_type.name %>
                    <% if task.food_quantity %>
                      |<strong><%= task.food_quantity%> L</strong>
                    <% end %>
                  </p>
              </div>
            </div>
          <% end %>
        <% end %>


      <% end %>
    <% end %>
  </div>




  <div role="tabpanel" class="tab-pane" id="activites">
    <% @tasks.each do |task| %>
      <% if task.done == false %>


        <% if task.doing == false %>
          <% if !task.activity.nil? %>
            <%= link_to mark_as_doing_path(task_id: task.id) do %>
              <div class="col-xs-12 col-md-6">
                <div class="task">
                  <p><strong><%= task.horse.name %></strong></p>
                  <p>
                    <%= task.activity&.name %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>


        <% if task.doing == true %>
          <% if !task.activity.nil? %>
            <div class="col-xs-12 col-md-6">
              <div class="task">
                <% image_link = task.user_doing&.picture || "https://res.cloudinary.com/dk6vsgttl/image/upload/v1535978381/pomme.png" %>
                <%= image_tag image_link, class: "avatar" %>
                <p><strong><%= task.horse.name %></strong></p>
                  <p>
                    <%= task.activity&.name %>
                  </p>
              </div>
            </div>
          <% end %>
        <% end %>


      <% end %>
    <% end %>
  </div>










  <div role="tabpanel" class="tab-pane" id="medicaments">
    <% @tasks.each do |task| %>
      <% if task.done == false %>


        <% if task.doing == false %>
          <% if !task.medecine.nil? %>
            <%= link_to mark_as_doing_path(task_id: task.id) do %>
              <div class="col-xs-12 col-md-6">
                <div class="task">
                  <p><strong><%= task.horse.name %></strong></p>
                  <p>
                    <%= task.medecine&.name %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>


        <% if task.doing == true %>
          <% if !task.medecine.nil? %>
            <div class="col-xs-12 col-md-6">
              <div class="task">
                <% image_link = task.user_doing&.picture || "https://res.cloudinary.com/dk6vsgttl/image/upload/v1535978381/pomme.png" %>
                <%= image_tag image_link, class: "avatar" %>
                <p><strong><%= task.horse.name %></strong></p>
                  <p>
                    <%= task.medecine&.name %>
                  </p>
              </div>
            </div>
          <% end %>
        <% end %>


      <% end %>
    <% end %>
  </div>




  </div>
</div>


