<div class="container">

  <div class="row">

    <div class="col-xs-12">
      <h3> <strong>🐴 Vos chevaux</strong> </h3>
      <%= render './shared/search' %>
      <div class="line"></div>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= link_to new_horse_path do%>
        <i class="fas fa-plus-circle"></i> Ajouter un cheval


      <% end %>
    </div>
  </div>

  <div class="row">

    <%#= link_to new_horse_path do %>
      <!-- <div class="col-xs-12 col-md-4">
        <div class="horse card" >
          <div class="horse-image add wrapper">
            <i class="fas fa-plus-circle fa-2x"></i>
          </div>
        </div>
      </div> -->
    <%# end %>

    <% @horses.each do |horse| %>

      <%= link_to horse do %>
        <div class="col-xs-12 col-md-4">
          <div class="horse card"  >
            <% if horse.photo?  %>
              <div class="horse-image wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path horse.photo, crop: :fill %>')">
              </div>
            <%else %>
              <div class="horse-image wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cloudinary_url("pe12ydym9xpycxvwrnv5.jpg", :crop =>"fill") %>')">
              </div>
            <% end %>
            <div class="data">
              <div class="content">
                <div class="title">
                  <p><strong><%= horse.name %></strong></p>
                  <p>Appartient à <%= horse.user.first_name %> <%= horse.user.sur_name %></p>
                  <p>Box n°<%= horse.box %></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- End link -->
      <% end %>
    <!-- End each -->
    <% end %>
  <!-- End row -->
  </div>
</div>
<div class="espace-footer"></div>



