<div class="container">
  <div class="row" >
    <h3><strong>Mes <%= @horses.count %> chevaux enregistrés</strong>
      <%= link_to new_horse_path, class:"btn btn-primary" do%>
        <i class="fas fa-plus-circle"></i> &nbsp;Ajouter un cheval
      <% end %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
  <% @horses.each do |horse| %>
    <%= link_to horse do %>
      <div class="horse card" data-aos="fade-up">
        <% if horse.photo.url.nil? %>
         <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dk6vsgttl/image/upload/v1534863841/0caeecaab59c4a6bd6d9a36666c361d3.jpg')">
          <%else %>
          <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @horse.photo, height: 400, width: 600, crop: :fill %>')">
          <% end %>
            <div class="data">
              <div class="content">
                <h4 class="title">
                   <strong><%= horse.name %></strong>
                   <br>
                   <strong>Numéro de box: </strong><%= horse.box %>
                   <br>
                   <strong>Propriétaire: </strong><%= horse.user.email %>

                </h4>
                <%= link_to "Éditer", edit_horse_path(horse) %>
                <%= link_to "Supprimer", horse_path(horse),
                method: :delete,
                data: {confirm: "Sure?"} %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
</div>
