<div class="container">

  <br/>
  <br/>
  <%= simple_form_for @horse do |f| %>
  <%= f.input :name, label: "Nom" %>
  <%= f.input :box, label: "Numéro du box" %>

  <select name="carlist" form="carform">
    <%= f.input :formula, label: "Formule" %>
    <option value="volvo">Compléte</option>
    <option value="saab">demi-pension</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>




  <%= f.input :formula, label: "Formule" %>










  <h3><strong>Nourriture</strong></h3>
  <h4><strong>Matin</strong></h4>
  <div>
    <p>Granule</p>
    <div class="better_radio">
      <% (0..5).each do |i| %>
        <%= radio_button_tag "food[granule][matin][quantite]", "#{i}" %>
        <%= label_tag "food_granule_matin_quantite_#{i}", "#{i}L" %>
      <% end %>
    </div>

    <p>Floconnet</p>
    <div class="better_radio">
      <% (0..5).each do |i| %>
        <%= radio_button_tag "food[floconnet][matin][quantite]", "#{i}" %>
        <%= label_tag "food_floconnet_matin_quantite_#{i}", "#{i}L" %>
      <% end %>
    </div>

    <p>Winsor</p>
    <div class="better_radio">
      <% (0..5).each do |i| %>
        <%= radio_button_tag "food[winsor][matin][quantite]", "#{i}" %>
        <%= label_tag "food_winsor_matin_quantite_#{i}", "#{i}L" %>
      <% end %>
    </div>
  </div>

  <h4><strong>Midi</strong></h4>
    <div>
      <p>Granule</p>
      <div class="better_radio">
        <% (0..5).each do |i| %>
          <%= radio_button_tag "food[granule][midi][quantite]", "#{i}" %>
          <%= label_tag "food_granule_midi_quantite_#{i}", "#{i}L" %>
        <% end %>
      </div>
      <p>Floconnet</p>
      <div class="better_radio">
        <% (0..5).each do |i| %>
          <%= radio_button_tag "food[floconnet][midi][quantite]", "#{i}" %>
          <%= label_tag "food_floconnet_midi_quantite_#{i}", "#{i}L" %>
        <% end %>
      </div>
      <p>Winsor</p>
      <div class="better_radio">
        <% (0..5).each do |i| %>
          <%= radio_button_tag "food[winsor][midi][quantite]", "#{i}" %>
          <%= label_tag "food_winsor_midi_quantite_#{i}", "#{i}L" %>
        <% end %>
      </div>
    </div>

  <h4><strong>Soir</strong></h4>
    <div>
      <p>Granule</p>
      <div class="better_radio">
        <% (0..5).each do |i| %>
          <%= radio_button_tag "food[granule][soir][quantite]", "#{i}" %>
          <%= label_tag "food_granule_soir_quantite_#{i}", "#{i}L" %>
        <% end %>
      </div>
      <p>Floconnet</p>
      <div class="better_radio">
        <% (0..5).each do |i| %>
          <%= radio_button_tag "food[floconnet][soir][quantite]", "#{i}" %>
          <%= label_tag "food_floconnet_soir_quantite_#{i}", "#{i}L" %>
        <% end %>
      </div>
      <p>Winsor</p>
      <div class="better_radio">
        <% (0..5).each do |i| %>
          <%= radio_button_tag "food[winsor][soir][quantite]", "#{i}" %>
          <%= label_tag "food_winsor_soir_quantite_#{i}", "#{i}L" %>
        <% end %>
      </div>
    </div>

  <h3><strong>Activités</strong></h3>
  <p>Paddock</p>
  <div class="better_checkbox">
    <% @week_days.each do |day|  %>
      <%= check_box_tag "activity[paddock][#{day}]", "1" %>
      <%= label_tag "activity[paddock][#{day}]", day %>
    <% end %>
  </div>
  <p>Marche</p>
  <div class="better_checkbox">
    <% @week_days.each do |day|  %>
      <%= check_box_tag "activity[marche][#{day}]", "1" %>
      <%= label_tag "activity[marche][#{day}]", day %>
    <% end %>
  </div>
  <p>Saut</p>
  <div class="better_checkbox">
    <% @week_days.each do |day|  %>
      <%= check_box_tag "activity[saut][#{day}]", "1" %>
      <%= label_tag "activity[saut][#{day}]", day %>
    <% end %>
  </div>
  <p>Promenade</p>
  <div class="better_checkbox">
    <% @week_days.each do |day|  %>
      <%= check_box_tag "activity[promenade][#{day}]", "1" %>
      <%= label_tag "activity[promenade][#{day}]", day %>
    <% end %>
  </div>

  <h3><strong>Véterinaire</strong></h3>

  <%= select_tag "vetenary[name]", options_from_collection_for_select(Vetenary.all, "slug", "name"), class: "col-xs-12 col-md-4" %>
<br/>
  <br/>

  <div class="form-wrapper">
        <div><%= label_tag "Prochain passage" %></div>
          <%= text_field_tag "vetenary[next_date]", nil, class: "datepicker" %>
    </div>

  <h3><strong>Maréchal-ferrant</strong></h3>

  <%= select_tag "shoe_maker[name]", options_from_collection_for_select(ShoeMaker.all, "slug", "name"), class: "col-xs-12 col-md-4" %>
  <br/>
  <br/>
    <div class="form-wrapper">
        <div><%= label_tag "Prochain passage" %></div>
        <%= text_field_tag "shoe_maker[next_date]", nil, class: "datepicker" %>
    </div>

  <h3><strong>Vaccins / Vermifuges</strong></h3>
  <% (1..2).each do |i| %>

  <%= select_tag "antidote#{i}[name]", options_from_collection_for_select(Antidote.all, "slug", "name"), class: "col-xs-12 col-md-4" %>
  <br/>
  <br/>
    <div class="form-wrapper">
        <div><%= label_tag "Prochaine prise" %>
    </div>
          <%= text_field_tag "antidote#{i}[next_date]", nil, class: "datepicker" %>
    </div>
    <br/>
    <% end %>
    <br>

    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

  <%= f.submit "Créer mon cheval", class: "btn btn-primary btn-lg col-xs-12 col-md-4"%>
  <br/>
  <br/>
  <br/>

  <% end %>
</div>
