
<% if @horse.photo? %>
  <div class="card-horse" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @horse.photo.url, crop: :fill %>')">
  </div>
<% else %>
   <div class="card-horse" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cloudinary_url("pe12ydym9xpycxvwrnv5.jpg", :crop=>"fill") %>')">
   </div>
<% end %>

<div class="container">
  <div class="card-info">
    <div class="horse-name"> <h1><strong><%= @horse.name %></strong></h1>
    </div>
    <div class="horse-description">
      <h2><strong>Numéro de box: <%= @horse.box %></h2>
      <h3><%= @horse.user.first_name %> <%=  @horse.user.sur_name %></h3>
    </div>
  </div>
<hr color="blue">
  <div class="card-plus">
    <div class="formula">
      <h3><i  class="fas fa-clipboard-list"></i> <strong>Formula</strong></h3>
      <h5><%= @horse.formula %></h5>
    </div>

    <hr color="blue">

    <div class="horse-food">
      <h3><i class="fas fa-utensils"></i> <strong>Food</strong></h3>
      <h4>Matin</h4>
        <p>Granule: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Granulé" && t.start_time < DateTime.new(2018,8,31,10)}.first.food_quantity %></p>
        <p>Floconnet: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Floconnet" && t.start_time < DateTime.new(2018,8,31,10)}.first.food_quantity %></p>
        <p>Winsor: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Winsor" && t.start_time < DateTime.new(2018,8,31,10)}.first.food_quantity %></p>
      <h4>Midi</h4>
        <p>Granule: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Granulé" && t.start_time < DateTime.new(2018,8,31,15)}.first.food_quantity %></p>
        <p>Floconnet: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Floconnet" && t.start_time < DateTime.new(2018,8,31,15)}.first.food_quantity %></p>
        <p>Winsor: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Winsor" && t.start_time < DateTime.new(2018,8,31,15)}.first.food_quantity %></p>
      <h4>Soir</h4>
        <p>Granule: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Granulé" && t.start_time < DateTime.new(2018,8,31,20)}.first.food_quantity %></p>
        <p>Floconnet: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Floconnet" && t.start_time < DateTime.new(2018,8,31,20)}.first.food_quantity %></p>
        <p>Winsor: <%= @horse.tasks.select{|t| t.food_type && t.food_type.name == "Winsor" && t.start_time < DateTime.new(2018,8,31,20)}.first.food_quantity %></p>
    </div>

    <hr color="blue">

    <div class="horse-activity">
      <h3><i class="fas fa-compass"></i> <strong>Activités</strong></h3>
        <ul>
          <h5>Paddock:</h5>
          <% @horse.tasks.select{|t| t.activity&.name == "Paddock"}.each do |task| %>
            <li><%= task.start_time.strftime("%A") %></li>
          <% end %>
        </ul>

        <ul>
        <h5>Marche:</h5>
          <% @horse.tasks.select{|t| t.activity&.name == "Marche"}.each do |task| %>
            <li><%= task.start_time.strftime("%A") %></li>
          <% end %>
        </ul>
        <ul>
        <h5>Saut:</h5>
          <% @horse.tasks.select{|t| t.activity&.name == "Saut"}.each do |task| %>
            <li><%= task.start_time.strftime("%A") %></li>
          <% end %>
        </ul>
        <ul>
        <h5>Promenade:</h5>
          <% @horse.tasks.select{|t| t.activity&.name == "Marche"}.each do |task| %>
          <li><%= task.start_time.strftime("%A") %></li>
          <% end %>
        </ul>
    </div>

    <hr color="blue">

    <div class="horse-medicine">
     <h3><i class="fas fa-pills"></i><strong>Médicaments</strong></h3>
      <h5>Name:</h5>
      <h5>Prochain passage: </h5>
    </div>
    @horse.tasks.select{|t| t.vetenary&.name == "Marche"}.task.start_time

    <hr color="blue">

    <div class="horse-medicine">
     <h3><i class="fas fa-syringe"></i></i><strong>Vaccins / Vermifuges</strong></h3>
      <h5>Vaccins:</h5>
      <h5>Prochaine prise: </h5>
    </div>

    <hr color="blue">

    <div class="horse-veterinaire">
      <h3><i class="fas fa-heartbeat"></i><strong>Vétérinaire</strong></h3>
      <%= @horse.tasks.select{|t| t.vetenary}.first.vetenary.name %>
      <h5>Prochain passage: <%= @horse.tasks.select{|t| t.vetenary}.first.start_time %></h5>
    </div>

    <hr color="blue">

    <div class="horse-forgeron">
      <h3><i class="fas fa-cog"></i><strong>Forgeron</strong></h3>
      <h5>Prochain passage: </h5>
    </div>

    <hr color="blue">


  </div>
  <div class="bouton">
    <%= link_to "Edit", edit_horse_path(@horse), class: 'btn btn-success' %>
    <%= link_to "Delete", horse_path(@horse), class: 'btn btn-danger', method: :delete, data: { confirm: "Sure?" }  %>
  </div>
</div>


