 <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= cl_image_tag("Logo_ecu.png") %>
  </a>

  <div class="navbar-droite">

    <!-- Right Navigation -->
    <div class="navbar-wagon-right ">
      <% if user_signed_in? %>
        <%= link_to "Tâches", tasks_index_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Visites", visites_path, class: "navbar-wagon-item navbar-wagon-link hidden-xs hidden-sm" %>
        <%= link_to "Chevaux", horses_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to communications_path, class: "navbar-wagon-item navbar-wagon-link" do%>
        <i class="fas fa-comment fa-lg"></i>
        <% end %>

      <% else %>
      <%= link_to "Connexion", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>|
      <%= link_to "Inscription",  new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <%= link_to "Visites", visites_path, class: "navbar-wagon-item navbar-wagon-link" %> </li>
          <li> <%= link_to "Profils", profiles_path, class: "navbar-wagon-item navbar-wagon-link" %> </li>
          <li> <%= link_to "Déconnexion", destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %> </li>
        </ul>
      </div>
    </div>


    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag current_user.picture, class: "avatar dropdown-toggle", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Profils", profiles_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link"%></li>
          </ul>
      </div>
    </div>
    <% else %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "http://res.cloudinary.com/dk6vsgttl/image/upload/v1535559148/stock-vector-silhouette-girl-kid-head-with-ponytail-vector-illustration-of-a-young-girl-head-shadow-isolated-on-786469627.jpg", class: "avatar dropdown-toggle", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Connexion", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"%> </li>
            <li><%= link_to "Inscription",  new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
