<div class="container">
  <div class="messages-container">
    <% @comms.each do |comm| %>

      <div class="message">

        <div class="alert message-user" role="alert"> <%= comm.user.email.first(4) %>
        </div>

        <div class="message-content alert" role="alert" style="text-align:left"> <%= comm.message %> <div class="message-time"> <%= comm.created_at.strftime("%d %b %H:%M") %> </div>
        </div>

      <!-- LINK DELETE OPTION 1 ############# -->

        <%= link_to communication_path(comm.id), method: :delete, data: {confirm: "Effacer votre message ?"} , class: "destroy-link alert" do%>
            <i class="fas fa-trash-alt"></i>
        <% end %>

      <!-- LINK DELETE OPTION 2 ############# -->

        <!-- <div class="destroy-link alert">
          <%= link_to "Supprimer", communication_path(comm.id), method: :delete, data: {confirm: "Effacer votre message ?"} %>
        </div> -->

      </div>

    <% end %>
  </div>
  <%= render 'form', comm: @comm %>
</div>




