<div class="container">
  <div class="com-messages-container">
    <%= link_to_next_page @comms, 'Load previous messages' %>
    <% @comms.reverse.each do |comm| %>

      <div class="com-message">

        <div class="alert com-message-user" role="alert"> <%= comm.user.sur_name.first(4) %>
        </div>

        <div class="com-message-content alert" role="alert" style="text-align:left"> <%= comm.message %> <div class="com-message-time"> <%= comm.created_at.strftime("%d %b %H:%M") %> </div>
        </div>

      <!-- LINK DELETE OPTION 1 ############# -->

        <%= link_to communication_path(comm.id), method: :delete, data: {confirm: "Effacer votre message ?"} , class: "destroy-link alert" do%>
            <i class="fas fa-trash-alt"></i>
        <% end %>

      <!-- LINK DELETE OPTION 2 ############# -->

        <!-- <div class="destroy-link alert">
          <%= link_to "Supprimer", communication_path(comm.id), method: :delete, data: {confirm: "Effacer votre message ?"} %>
        </div> -->

      </div>

    <% end %>
    <%= link_to_prev_page @comms, 'Load more recent messages' %>
  </div>
  <%= render 'form', comm: @comm %>

  <%= link_to 'create alert vaccins',create_alert_vaccin_path %>

</div>




